body {
    background-image: url("http://data.whicdn.com/images/28059625/original.gif");
    background-size: cover;
}

.rainbow-text1 {
    background: linear-gradient(90deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #ff00c8, #9400d3);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-animation 10s ease infinite;
    background-color: #000000;
  }
@keyframes rainbow-text-animation {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}